/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


.label-cursor {
    cursor: pointer;
}

a.remove-country{
    text-decoration:none;
    padding-left: 5px;
    padding-right: 5px;
    color:white;
    opacity: .75;
    cursor: pointer;
}

a.remove-country:hover{
    color: #97DDA8;
}

div.countrylist{
    padding: 5px;
    margin: 5px;
    border: 1px solid #cccccc;
    word-wrap: break-word;
}

span.countrydisplay{
    margin: 2px;
    padding: 2px 5px 2px 5px; 
    line-height: 1.8;
    word-wrap; normal;
    display: inline-block;
}