<p>This is the partial for view 1.</p>
<div ng-controller = 'MyCtrl1'>
    <div class='container-fluid' style="width: 400px">
        <h4>Static arrays</h4>
        <pre>Model: {{selected}}</pre>
        <input type="text" ng-model="selected" typeahead="country for country in countryNames | filter:$viewValue | limitTo:8" class="form-control">
    </div>

    <div class="input-group" style="width: 400px">
        <span class="input-group-addon">Search:</span>
        <input type="text" ng-model="selected" typeahead="country for country in countryNames | filter:$viewValue | limitTo:8" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add</button>
        </span>
    </div>

    <div class="tabbable tabs-below">
        <ul class="nav nav-tabs">
            <li ng-class="{active: selectedTab == 1}">
                <a href="" ng-click="selectedTab = 1;">Asian</a>
            </li>
            <li ng-class="{active: selectedTab == 2}">
                <a href="" ng-click="selectedTab = 2;">Europe</a>
            </li>
            <li ng-class="{active: selectedTab == 3}">
                <a href="" ng-click="selectedTab = 3;">Oceania</a>
            </li>
        </ul>
        <div class="tab-content countrylist" ng-show="selectedTab == 1" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '142' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>
        
        <div class="tab-content countrylist" ng-show="selectedTab == 2" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '150' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>
        
        <div class="tab-content countrylist" ng-show="selectedTab == 3" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '009' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>

    </div>


    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="navbar-brand">Been to:</span>
            </div>
            <span ng-repeat="country in beenTo" class="label label-success countrydisplay">
               {{country}}<a class="remove-country" ng-click="delCountry($index,country)">&times;</a>
            </span>
        </div><!-- /.container-fluid -->
    </nav>

    <!-- 
    <br />

    Current Country: {{currentCountryCode}}  {{currentCountryName}}
    Search: <input ng-model="query">
    <div id="status">Current filter: {{query}}</div>
    <ul>
        <li ng-repeat="country in countries | filter:query">   
            <span ng-click="changeCurrentCountry(country['alpha-2'], country.name)">{{country.name}}</span>
        </li>
    </ul>
    Order by: {{orderProp}}  
    
    -->
    <div chart></div>
</div>   