<div ng-controller = 'MyCtrl1'>
     <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selectedTestItem.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selectedTestItem.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selectedTestItem">Selection from a modal: {{ selectedTestItem }}</div>
    
    
    
    <div class="input-group">
        <span class="input-group-addon">Search:</span>
        <input type="text" ng-model="selected" typeahead="country for country in countryNames | filter:$viewValue | limitTo:8" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add</button>
        </span>
    </div>

    <div class="tabbable tabs-below">
        <ul class="nav nav-tabs">
            <li ng-class="{active: selectedTab == 1}">
                <a href="" ng-click="selectedTab = 1;">Asian</a>
            </li>
            <li ng-class="{active: selectedTab == 2}">
                <a href="" ng-click="selectedTab = 2;">Europe</a>
            </li>
            <li ng-class="{active: selectedTab == 3}">
                <a href="" ng-click="selectedTab = 3;">Oceania</a>
            </li>
            <li ng-class="{active: selectedTab == 4}">
                <a href="" ng-click="selectedTab = 4;">Africa</a>
            </li>
            <li ng-class="{active: selectedTab == 5}">
                <a href="" ng-click="selectedTab = 5;">Americas</a>
            </li>
        </ul>
        <div class="tab-content countrylist" ng-show="selectedTab == 1" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '142' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>
        
        <div class="tab-content countrylist" ng-show="selectedTab == 2" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '150' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>
        
        <div class="tab-content countrylist" ng-show="selectedTab == 3" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '009' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>
        
        <div class="tab-content countrylist" ng-show="selectedTab == 4" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '002' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>
        
        <div class="tab-content countrylist" ng-show="selectedTab == 5" ng-model="countries">
            <span class="label label-info label-cursor countrydisplay" ng-repeat = "country in countries | filter: { 'region-code': '019' }" ng-click="updateMap(country['alpha-2'], country.name)">{{country.name}}</span>
        </div>

    </div>


    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="navbar-brand">Been to:</span>
            </div>
            <span ng-repeat="country in beenTo" class="label label-success countrydisplay">
               {{country}}<a class="remove-country" ng-click="delCountry($index,country)">&times;</a>
            </span>
        </div><!-- /.container-fluid -->
    </nav>

    <div chart></div>
</div>   